/********************NAVBAR*****************/

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-brand {
    color: #3399CC;
    font-size: 1.6rem;
}

.navbar-brand i {
    font-size: 2rem;
}

.tm-mt-60 {
    margin-top: 60px;
}

.tm-mb-50 {
    margin-bottom: 50px;
}

.tm-mb-74 {
    margin-bottom: 74px;
}

.tm-mb-90 {
    margin-bottom: 90px;
}

.tm-text-primary {
    color: #009999;
}

.tm-text-secondary {
    color: #CC6699;
}

a.tm-text-primary:hover {
    color: #666666;
}

.tm-bg-gray {
    background-color: #EEEEEE;
}

.tm-input-paging {
    width: 40px;
    border-radius: 0;
    border: 1px solid #CCCCCC;
    background: #f4f4f4;
    text-align: center;
}

.nav-item {
    margin-right: 30px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    color: #666666;
    border-bottom: 4px solid transparent;
    font-size: 1.2rem;
}

.nav-link-1.active,
.nav-link-1:hover {
    border-color: #33CCFF;
}

.nav-link-2.active,
.nav-link-2:hover {
    border-color: #FF6666;
}

.nav-link-3.active,
.nav-link-3:hover {
    border-color: #33CC66;
}

.nav-link-4.active,
.nav-link-4:hover {
    border-color: #CC66CC;
}

@media (min-width: 992px) {

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
}
}