/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.tm-mt-60 {
  margin-top: 60px;
}

.tm-mb-50 {
  margin-bottom: 50px;
}

.tm-mb-74 {
  margin-bottom: 74px;
}

.tm-mb-90 {
  margin-bottom: 90px;
}

.tm-text-primary {
  color: #009999;
}

.tm-text-secondary {
  color: #CC6699;
}

a.tm-text-primary:hover {
  color: #666666;
}

.tm-bg-gray {
  background-color: #EEEEEE;
}

.tm-input-paging {
  width: 40px;
  border-radius: 0;
  border: 1px solid #CCCCCC;
  background: #f4f4f4;
  text-align: center;
}


.btn-primary:disabled {
  background-color: #009999;
  pointer-events: all;
  cursor: not-allowed;
}




@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 50px;
    right: 0px;
    background: white;
    width: 150px;
    padding: 15px;
  }

  .tm-container-content {
    max-width: 870px;
  }

  .tm-contact-form,
  .tm-address-col,
  .mapouter {
    max-width: 100%;
  }

  .tm-people-row {
    max-width: 900px;
  }
}

@media (max-width: 767px) {
  .tm-paging-col {
    flex-direction: column;
  }

  .tm-paging {
    flex-wrap: wrap;
  }

  .tm-about-img-text {
    max-width: 640px;
  }

  .tm-about-2-col,
  .tm-about-3-col {
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .tm-container-content {
    max-width: 420px;
  }

  .tm-search-form {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    justify-content: center;
  }

  .tm-search-input {
    width: 100%;
    max-width: 360px;
  }

  .tm-people-row {
    max-width: 420px;
  }
}

@media (max-width: 400px) {
  .tm-btn-big {
    padding: 12px 50px 14px;
  }
}

@media (max-width: 334px) {
  .tm-social-links {
    flex-wrap: wrap;
    justify-content: start !important;
  }

  .tm-social-links li {
    margin-right: 3px;
  }
}